



<h1>New link</h1>

<%= form_for(@path) do |f| %>

  <p>
        Select which page you want to link to:<br /> 
      <input id="select_page"/>
      <input id="link_page_id" name="path[page_to_id]" type="hidden"/>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
    <%= f.hidden_field :page_from_id, :value => @root.id %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>