  <div class="row">
    <% @users.each do |user| %>
    <div class="small-6 columns">
      <table class="center">
        <tr>
          <th> Name </th>
          <th></th>
          <th>Rank</th>
          <th></th>
          <% if current_user %>
          <% if current_user.admin? %>
            <th></th>
            <th></th>
          <% end %>
              <% end %>
        </tr>
        <tr>
        <td><%= user.name %></td>
        <td><%= image_tag avatar_url(user) %></td>
        <td><%= user.votes.to_i %>
        </td>
        <td><%= link_to 'Profile', user %></td>
        <td></td>
        <% if current_user %>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <% end %>
        <% end %>
        </tr>
      </table>
    </div>
    <% end %>


  </div>