<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @adventure.name %>
</p>

<p>
  <b>Male:</b>
  <%= @adventure.male %>
</p>

<p>
  <b>Route:</b>
  <%= @adventure.route %>
</p>


<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
