<%= tinymce_assets %>
<%= form_for(@page) do |f| %>

<%= render 'form', :f => f %>
<%= f.fields_for :group do |group_builder| %>

  <% current_user.groups.each do |group| %>
  <%= radio_button_tag :group_id, group.id %> <%= group.title %>

<% end %>
<% end %>
  <% if !@page.reverse_pages.empty? %>
    <%= f.fields_for :paths do |path_builder| %>

      <br />
        <%= path_builder.label :question, "The statment that links this page to the previous page: " + path_builder.to_s %>
        <%= path_builder.text_field :question %>
      <% end %>

  <% end %>
  <% if current_user.admin? %>
    <%= f.label :color %>
    <%= f.text_field :color, :class => "color-picker" %>
  <% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
