<p id="notice"><%= notice %></p>
<h1 class="text-center">
  <b>  <%= @page.title %></b>

</h1>
<p>
  <% begin %>
  <%= @page.content.bbcode_to_html.html_safe %>
  <% rescue %>
  <%= @page.content %>
  <% end %>
</p>

<% @page.reverse_paths.each do |path| %>
<%= link_to path.question + ' +' + Page.find(path.page_to_id).reputation_for(:votes).to_s[/[^.]+/], Page.find(path.page_to_id), :class => 'small button keep-white' %>
<br />
<% end %>
<%= link_to "Promote", vote_page_path(@page, type: "up"), method: "post", class: "tiny button success" %> 

<%= link_to "Demote", vote_page_path(@page, type: "down"), method: "post", class: "tiny button alert"%> 

<div class="tiny button secondary" > <%= @page.reputation_for(:votes).to_i %> + </div>

<%= link_to 'Edit', edit_page_path(@page), class: "tiny button secondary"%> 
<%= link_to 'Back', pages_path, class: "tiny button secondary"%> 
<%= link_to 'Create Branch', new_page_path(:root_id => @page.id), class: "tiny button secondary"%>