<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Mandelthought" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="fixed">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Home", root_url %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <%= render 'layouts/top_menu' %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
    	
    	<%= render 'devise/menu/login_items' %>
    	     <li class="has-dropdown"><a href="#">Me</a>

        <ul class="dropdown">
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </li>
    </ul>

  </section>
</nav>
</div>
	<div class="bgsky">
	</div>
	<div class="row">
		<div class="small-11 small-centered middleofscreen columns panel parchment">
			<% if flash[:error] %>
			<%= content_tag :div, :id => "flash_name", :class => "alert-box alert" do %>
			<%= flash[:error] %>
			<a class="close">x</a>
			<% end %>
			<% end %>

			<% if flash[:notice] %>
			<%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
			<%= flash[:notice] %>
			<a class="close">x</a>
			<% end %>
			<% end %>

			<%= yield %>
		</div>
	</div>

	<%= javascript_include_tag "application" %>
	<%= render :partial => 'layouts/ga' if Rails.env.production? %>

		 <script type="text/javascript">
		 $("#help").click(function(){
  $(document).foundation('joyride', 'start');
		 });

</script>
</body>

</html>